{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>Document</title>
    
</head>
<body>
    <h1>Todo App</h1>
    <div class="for">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label>Item</label>
                {{form.item|attr:"placeholder:Enter todo"|add_class:"items"}}
            </div>
            <br/>
            <div>
                <label>Status</label>
                {{form.status}}
            </div>
            
            <button id="text">SUBMIT</button>
        </form>
        <ul>
            {% for i in items %}
            <li>{{i.item}} | {{i.status}}<div><a href="{% url 'delete' i.id %}"><button class="btn2">REMOVE</button></a><button class="btn3">UPDATE</button></div></li>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>